// ================================================================================================================================================================================================================================================================================================================================
// VARS \\
@import "./styles/vars";
// VARS \\
// ================================================================================================================================================================================================================================================================================================================================
// FONTS \\
//** GOOGLE FONTS **\\
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker:regular&display=swap&subset=cyrillic-ext");
//** GOOGLE FONTS **\\
// DEFAULT FONT \\
$fontFamily: "Arial";
$fontSize: 16;
$fontWeight: 400;
$mainColor: #000;
// DEFAULT FONT \\
// FONTS \\
// ================================================================================================================================================================================================================================================================================================================================
// RESET STYLES \\
@import "./styles/reset";
// RESET STYLES \\
// ================================================================================================================================================================================================================================================================================================================================
// UI \\
@import "./styles/ui";
// UI \\
// ================================================================================================================================================================================================================================================================================================================================
